<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">

      <%= form_with(model:@guest, url:guest_path, local: true ,method: :put) do |f| %>
        <table class="table table-borderless col-md-10">
          <h2 class="cp_h2guesttitleedit">マイページ／登録情報変更</h3>
          <%= render 'layouts/errors', obj: @guest %>
            <tbody>
              <tr>
                <th class="font-weight-normal"><%= f.label :名前 %></th>
                <td><%= f.text_field :name, placeholder: "山田太郎" %></td>
              </tr>
              <tr>
                <th class="font-weight-normal"><%= f.label :郵便番号 %></th>
                <td><%= f.text_field :postal_code, placeholder: "1102512" %></td>
              </tr>
              <tr>
                <th class="font-weight-normal"><%= f.label :住所 %></th>
                <td colspan="2"><%= f.text_field :address , :size=>"50", placeholder: "東京都豊島区東池袋4-4-4" %></td>
              </tr>
              <tr>
                <th class="font-weight-normal"><%= f.label :電話番号 %></th>
                <td><%= f.text_field :phone_number, placeholder: "09012345678" %></td>
              </tr>
              <tr>
                <th class="font-weight-normal"><%= f.label :メールアドレス %></th>
                <td><%= f.email_field :email, placeholder: "aaa@gmail.com" %></td>
              </tr>
            </tbody>
        </table>

      <%= f.submit "編集内容を保存", class: "btn btn-primary rounded-pill col-sms-6 px-5" %>
      <%= button_to "退会ご希望の方は弊社までご連絡ください", "/users/1", { disabled: true, class: "btn-danger rounded-pill col-sms-6 p-2" } %>

    <% end %>
  </div>

</div>
