<div class="container">
  <div class="row">
      <% @brochures.each do |brochure| %>
        <div class="col-md-4 mt-5">
          <div class="card text-black bg-light border-primary" >
            <%= attachment_image_tag brochure, :image, :fill, 150, 110, fallback: 'noimage.jpg', class: "img-thumbnail" %>
            <div class="card-body text-center">
              <h4 class="card-title"><%=brochure.title %></h4>
               <p class="card-text"><%=brochure.introduction %></p>
              <button type="button" class="btn btn-lg btn-primary" disabled="disabled">現在作成中</a>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <%= render 'guest/homes/linkbuttom' %>
  <%= render 'guest/homes/company' %>
</div>