<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-1 mt-1" >
      <h2 class="cp_h2contacttitlenew">お問い合わせ</h2>
      <p class="contacttextnew">現在、新型コロナウィルス感染拡大に伴う営業体制の変更により、</br>
                                こちらからの返信が遅れる場合がございます。</br>
                                お急ぎの場合は、電話番号(03-3454-1214)までご連絡ください。</p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-7 offset-lg-2 mt-1" >
      <%= form_for(@contact, url: confirm_path) do |f| %>
      <%= render 'layouts/errors', obj: @contact %>

        <div class="form-group">
          <%= f.label :name, 'お名前*' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "山田太郎" %>
        </div>
        <div class="form-group">
          <%= f.label :email, 'お客様メールアドレス*' %>
          <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: "aaa@gmail.com" %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number, '電話番号*' %>
          <%= f.text_field :phone_number, autofocus: true, class: 'form-control', placeholder: "09012451578" %>
        </div>
        <div class="form-group">
          <%= f.label :message, 'お問い合わせ内容*' %>
          <%= f.text_area :message, size: '10x10', class: 'form-control',
          placeholder: "ロンドンの留学について〇月〇日にカウンセリングを希望しています。よろしくお願い致します。" %>
        </div>
        <div>
          <%= f.submit '入力内容確認' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
