<div class="container my-5">
  <div class="row">
    <div class="col-md-3 text-center">
			<h2 style="background:#EEEEEE;" class="rounded-circle">語学学校一覧</h2>
		</div>
  </div>

<div class="row text-right">
    <%= link_to "+", new_admin_school_path, class: "btn-danger btn-outline-light btn-lg rounded-circle text-right ml-auto shadow-sm" %>
  </div>

  <div class="row mt-4">
    <table class="table table-hover text-center">
      <thead style="background:#fffacd;">
          <tr>
            <th>ID</th>
            <th>語学学校名</th>
            <th>コース名</th>
            <th>紹介</th>
            <th>滞在方法</th>
            <th>国籍</th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @schools.each do |schools| %>
          <tr>
            <td><%= schools.id %></td>
              <td>
              <%= link_to edit_admin_school_path(schools) do %>
              <%= schools.school_name %>
              <% end %>
              </td>
            <td><%= schools.course_name %></td>
            <td><%= schools.introduction %></td>
            <td><%= schools.stay %></td>
            <td><%= schools.nationality %></td>
            <td><%= schools.country.country_name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>