<div class="container">

  <div class="row">
    <div class="col-lg-6" >
      <h2 class="cp_h2schooltitlenew">語学学校新規登録</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-lg-1" >
      <%= form_with model: @school, url:admin_schools_path, local:true do |f| %>
      <table class="table table-borderless">
      <%= render 'layouts/errors', obj: @school %>
        <tbody>
            <tr>
             <td>語学学校画像</td>
             <td><%= f.attachment_field :image %></td>
            </tr>
            <tr>
              <td>語学学校名</td>
              <td><%= f.text_field :school_name, class: "form-control", placeholder: "カリフォルニア大学" %></td>
            </tr>
            <tr>
              <td>学校紹介</td>
              <td><%= f.text_area :introduction, class: "form-control", placeholder: "100文字以上200文字以内" %></td>
            </tr>
            <tr>
              <td>コース名</td>
              <td><%= f.text_field :course_name, class: "form-control", placeholder: "General English、TOEICコースなど" %></td>
            </tr>
            <tr>
              <td>コース紹介</td>
              <td><%= f.text_area :course_introduction, class: "form-control", placeholder: "100文字以上200文字以内" %></td>
            </tr>
            <tr>
              <td>滞在方法</td>
              <td><%= f.text_field :stay, class: "form-control", placeholder: "ホームステイ・寮" %></td>
            </tr>
            <tr>
              <td>国籍</td>
              <td><%= f.text_field :nationality, class: "form-control", placeholder: "日本・メキシコ・スイスなど" %></td>
            </tr>
            <tr>
              <td>所在国</td>
              <td><%= f.collection_select(:country_id, Country.all, :id, :country_name, prompt: "-- 選択してください --") %>
              </td>
              <%#@countriesではなく、Country.allと記載するとundefined method `map'がでない%>
              <%#f.collection_select(メソッド名, オブジェクトの配列, value属性の項目, テキストの項目 [, オプション or HTML属性 or イベント属性])%>
            </tr>
            <tr>
              <td>都市</td>
              <td><%= f.text_field :school_city_name, class: "form-control", placeholder: "ロサンゼルス" %></td>
            </tr>
            <tr>
              <td>
              <%= f.submit "新規登録", class: "btn btn-success rounded-pill" %>
              </td>
            </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>