<div class="container">

  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2 class="cp_h2countrytitleedit">国の編集</h2>

        <%= form_with model: @country, url:admin_country_path, local:true do |f| %>
        <table class="table table-borderless">
        <%= render 'layouts/errors', obj: @country %>
          <tbody>
              <tr>
               <td>国の画像</td>
               <td><%= f.attachment_field :image %></td>
              </tr>
              <tr>
                <td>国名</td>
                <td><%= f.text_field :country_name, class: "form-control", placeholder: "アメリカ" %></td>
              </tr>
              <tr>
                <td>首都</td>
                <td><%= f.text_field :capital, class: "form-control", placeholder: "ワシントンD.C" %></td>
              </tr>
              <tr>
                <td>人口</td>
                <td><%= f.text_field :country_population, class: "form-control", placeholder: "120万" %></td>
              </tr>
              <tr>
                <td>言語</td>
                <td><%= f.text_field :language, class: "form-control", placeholder: "英語" %></td>
              </tr>
              <tr>
                <td>通貨</td>
                <td><%= f.text_field :currency, class: "form-control", placeholder: "USドル" %></td>
              </tr>
              <tr>
                <td>説明</td>
                <td><%= f.text_area :introduction, class: "form-control",
              placeholder: "200文字以上300文字以内" %></td>
              </tr>
                <td>
                <%= f.submit "変更を保存", class: "btn btn-success rounded-pill" %>
                </td>
                <td>
                <%= link_to "国を削除", admin_country_path(@country.id), method: :delete, class: "btn btn-success rounded-pill" %>
                </td>
              </tr>
          </tbody>
        </table>
      <% end %>

    </div>
  </div>
</div>