<div class="container">

  <div class="row">
    <div class="col-lg-6" >
			<h2 class="cp_h2countrytitle">国情報の一覧</h2>
		</div>
  </div>

  <div class="row">
    <div class="col-lg-11" >

      <div class="row text-right mb-3">
    <%= link_to "+", new_admin_country_path, data: {"turbolinks" => false}, class: "btn-danger btn-outline-light btn-lg rounded-circle text-right ml-auto shadow-sm" %>
  </div>

    <table class="countrytable">
      <thead style="background:#fffacd;">
          <tr>
            <th class="countryth">ID</th>
            <th class="countryth">国名</th>
            <th class="countryth">首都</th>
            <th class="countryth">人口</th>
            <th class="countryth">言語</th>
            <th class="countryth">通貨</th>
          </tr>
        </thead>
        <tbody>
          <% @countries.each do |countries| %>
          <tr>
            <td class="countrytd"><%= countries.id %></td>
              <td class="countrytd">
              <%= link_to edit_admin_country_path(countries), data: {"turbolinks" => false} do %>
              <%= countries.country_name %>
              <% end %>
              </td>
              <td class="countrytd"><%= countries.capital %></td>
              <td class="countrytd"><%= countries.country_population %></td>
              <td class="countrytd"><%= countries.language %></td>
              <td class="countrytd"><%= countries.currency %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>