<div class="container">

  <div class="row">
    <div class="col-lg-12 mt-3" >
    <h1 class="countryindexh1">　＼　気になる国から探してみよう！　／</h1>
    </div>
  </div>

  <div class="row">
    <% @country.each do |country| %>
      <div class="col-md-4 mt-5">
        <div class="card text-black bg-light border-primary" >
          <%= attachment_image_tag country, :image, :fill, 150, 110, fallback: 'noimage.jpg', class: "img-thumbnail" %>
            <div class="card-body text-center">
              <h4 class="card-title"><%= country.country_name %></h4>
              <p class="card-text"><%= country.introduction %></p>
              <%= button_to '語学学校一覧はこちら', country_path(country),  { method: :get, class: "btn-square-pop" } %>
            </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'guest/homes/linkbuttom' %>
  <%= render 'guest/homes/company' %>

</div>