<div class="container my-5">
  <div class="row">
    <div class="col-md-3 text-center">
			<h2 style="background:#EEEEEE;" class="rounded-circle">パンフレット一覧</h2>
		</div>
  </div>

<div class="row text-right">
    <%= link_to "+", new_admin_brochure_path, class: "btn-danger btn-outline-light btn-lg rounded-circle text-right ml-auto shadow-sm" %>
  </div>

  <div class="row mt-4">
    <table class="table table-hover text-center">
      <thead style="background:#fffacd;">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>introduction</th>
          </tr>
        </thead>
        <tbody>
          <% @brochures.each do |brochures| %>
          <tr>
            <td><%= brochures.id %></td>
              <td>
              <%= link_to edit_admin_brochure_path(brochures) do %>
              <%= brochures.title %>
              <% end %>
              </td>
            <td><%= brochures.introduction %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>