<div class="container my-5">
  <div class="row">
    <div class="col-md-3 text-center">
			<h2 style="background:#EEEEEE;" class="rounded-circle">パンフレット一覧</h2>
		</div>
  </div>

  <div class="row mt-4">
    <table class="table table-hover text-center">
      <thead style="background:#fffacd;">
          <tr>
            <th>ID</th>
            <th>画像</th>
            <th>Title</th>
            <th>introduction</th>
          </tr>
        </thead>

        <tbody>
          <% @brochures.each do |brochures| %>
          <tr>
            <td><%= guests.id %></td>
              <td>
              <%= link_to edit_admin_brochure_path(brochures) do %>
              <%= brochures.name %>
              <% end %>
              </td>
            <td><%= guests.email %></td>
            <td><%= guests.address %></td>
            <td><%= guests.phone_number %></td>
            <td>
              <% if guests.guest_status == true %>
              <p class="text-success">有効</p>
              <% else %>
              <p>退会</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
        <%#<%= paginate @customers %>
    </div>
  </div>