<div class="container">

  <div class="row">
    <div class="col-lg-6" >
			<h2 class="cp_h2brochuretitle">パンフレット一覧</h2>
		</div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-lg-1" >

      <div class="row text-right mb-3">
        <%= link_to "+", new_admin_brochure_path, data: {"turbolinks" => false}, class: "btn-danger btn-outline-light btn-lg rounded-circle text-right ml-auto shadow-sm" %>
      </div>

    <table class="brochuretable">
      <thead style="background:#fffacd;">
          <tr>
            <th class="brochureth">ID</th>
            <th class="brochureth">タイトル</th>
            <th class="brochureth">紹介文</th>
          </tr>
        </thead>
        <tbody>
          <% @brochures.each do |brochures| %>
          <tr>
            <td class="brochuretd"><%= brochures.id %></td>
            <td class="brochuretd">
              <%= link_to edit_admin_brochure_path(brochures), data: {"turbolinks" => false} do %>
              <%= brochures.title %>
              <% end %>
            </td>
            <td class="brochuretd"><%= brochures.introduction %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>