<div class="container">
  
  <div class="row">
    <div class="col-lg-6" >
      <h2 class="cp_h2brochuretitlenew">パンフレット新規登録</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-10 offset-lg-1" >
      
      <%= form_with model: @brochure, url:admin_brochures_path, local:true do |f| %>
      <table class="table table-borderless">
        <tbody>
            <tr>
             <td>イメージ画像</td>
             <td><%= f.attachment_field :image %></td>
            </tr>
            <tr>
              <td>タイトル</td>
              <td><%= f.text_field :title, class: "form-control" %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= f.text_area :introduction, class: "form-control" %></td>
            </tr>
            <tr>
              <td>
              <%= f.submit "新規登録", class: "btn btn-success rounded-pill" %>
              </td>
            </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>