<!DOCTYPE html>
<html>
  <head>
    <title>Studyabroad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <div class="wrapper">

      <%= render 'layouts/header' %>

      <div class="bg_pattern Polka"></div>

      <main>
        <%= yield %>
      </main>

      <footer class="footer">
        <p class="footer-text">© All rights reserved by RyugakuCenter.
        情報参考：<cite><a href="https://www.jtb.co.jp/jtbglobal/">株式会社JTBガイアレック</a></cite></p>
      </footer>

    </div>
  </body>

</html>
