<!DOCTYPE html>
<html>
  <head>
    <title>Studyabroad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <div class="wrapper">

      <%= render 'layouts/header' %>

      <div class="bg_pattern Polka"></div>

      <% if guest_signed_in? %>
        <div class="col-lg-12 mt-3" >
          <div class="search">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :content, placeholder: "語学学校検索(都市名：ロサンゼルス)", class:"form-control form-control-sm" %>
              <%= f.button :type => "submit", style: 'border-style: none; background: none; cursor:pointer' do %>
              <i class='fa fa-search'></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>


      <main>
        <%= yield %>
      </main>

      <footer class="footer">
        <p class="footer-text">© A portfolio for job hunting...(就活用作品)
        情報参考：<cite><a href="https://www.jtb.co.jp/jtbglobal/">株式会社JTBガイアレック</a></cite></p>
      </footer>

    </div>
  </body>

</html>
